#ManagementTab
{
    background-color: #f5f5f1;
    float:right;
    width: calc(100% - 180px);
    height: -webkit-fill-available;
    /*border: solid 1px;*/
    /*border-radius: 5px 5px 0px 0px;*/
    overflow-y:auto;
    /*box-shadow: 6px 9px 10px grey;*/

}
#ManagementTabContent
{
    padding:5px;
}

.NavTab
{
    display: flex;
    margin-top: 10px;
    text-align: left;
}
.NavTab h2
{
    text-decoration: none;
    border: solid 1px;
    color:#f5f5f1;
    
    background-color: #221f1f;
    
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
}



.TitleTab
{
    color:#f5f5f1;
    /*border-bottom: solid 3px;*/
    /*box-shadow: 0px 3px 10px grey;
    background-color:rgb(154,220,252);*/
    background-color: #e50914;
    /*#95d7a4;
    burlywood;
    background-color: #00ace6;*/
    /*border-radius: 5px 5px 0px 0px;*/
    text-align: center;
    padding: 3px;
}
.TitleTab h2,h3
{
    margin-top: 0;
    margin-bottom: 0;
}

/*DASHBOARD BOXES*/
.iconBox{
    color:black;
    font-size: 20px;
    float:left;
    margin: 10px;
    text-align: center;
    border: solid 1px;
    box-shadow: 4px 6px 3px #ddd;
    width:100px;
}

.iconBox img{    
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.iconBoxText{
    background-color: #e50914;
    width: 100%;
}
.iconBoxText p
{
    margin-bottom: 0px;
    color:#f5f5f1;
}