#SigninTab
{
    border:solid 1px black;
    width:320px;
    background-color: white;
    border: solid 1px;
    margin-left: 40%;
    text-align: center;
    margin-top: 100px;

}
#SigninTab .TitleTab
{
    margin-bottom: 5px;
    border-bottom: solid 1px black;

}
#SigninTab input
{
    margin:5px;
}
#SigninTab select
{
    margin:5px;
}
#SigninTab .submitButton
{
    float: none;
}

#SigninTab p
{
    margin: 5px;
    display: inline;
}
