@import url('https://fonts.googleapis.com/css?family=Roboto');


html
{
    font-family: 'Roboto', sans-serif;
}
body
{
    /*background-color: #dcdcdc;*/
    /*background-color: rgb(232,247,219);*/
    /*background-color: white;*/
    background-color: rgb(240,240,255);
}
footer
{
    width: 99%;
    position: absolute;
    bottom: 0;
    border-top: solid 1px  black;
}

a{
    text-decoration: none;
}
