@font-face {
	font-family: BarcodeFont;
	src: url(../res/barcodeFont.woff);
}
html
{
    font-family: 'Roboto', sans-serif;
}
body
{
    margin:0px;
    background-color: #f5f5f1;
    /*background-color: rgb(232,247,219);*/
    /*background-color: white;*/
    /*background-color: rgb(240,240,255);*/
}
footer
{
    width: 99%;
    position: absolute;
    bottom: 0;
    border-top: solid 1px  black;
}

a{
    text-decoration: none;
    color:white;
}
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:white; }

input
{
    border: none;
    border-bottom: solid 1px #221f1f;
    text-align: center;
    outline: none;
}

input[type="submit"] , .submitButton
{
    border: none;
    border-bottom: solid 1px #221f1f;
    border-right: solid 1px #221f1f;
    text-align: center;
    outline: none;
}

.barcode{
    font-size: 15px;
    font-family: BarcodeFont;
}
