@import url('https://fonts.googleapis.com/css?family=Roboto');


html
{
    font-family: 'Roboto', sans-serif;
}
body
{
    background-color: #dcdcdc;
}
footer
{
    width: 99%;
    position: absolute;
    bottom: 0;
    border-top: solid 1px  black;
}

a{
    text-decoration: none;
}
