#MainTableStyle,th,td
{

    border: solid black 1px;
    border-collapse: collapse;
}
th,td{
    padding:5px;
}
th{
    color:#f5f5f1;
    background-color: #e50914;
    /*burlywood;/*
    background-color: #00ace6;*/
}

#MainTableStyle tr:nth-child(odd)
{
    background-color:#eee;
}

.iconTable{
    text-align: center;
}

.material-icons
{
    user-select: none;
}

.blank-arrow-btn
{
    width: 24px;
}
