#UserTab
{
    background-color: #221f1f;
    float:left;
    width: 179px;
    border-right: solid 1px black;
    height: -webkit-fill-available;

    color:#f5f5f1;
    text-align: center;
}

#logoutBox
{
    left: 0;
    margin: 0 auto;
    width: 171px;
    bottom: 0;
    float: bottom;
    /* position: absolute; */
    /* bottom: 0; */
    /* position: relative; */
    /* top: 0; */
    padding: 4px;
    background-color: #635c5c;
    position: absolute;
}

.UserTabBtn
{
    padding: 5px;
    border-bottom: 2px solid #757575;
}
.UserTabBtn:hover
{
    background-color: white;
    color: black;
}
